section {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100svh;
}

#game-hub {
  flex: 2.5;
}

#conversation-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#conversation-history-container {
  height: 50%;
  width: 70%;
  /* background-color: aquamarine; */
  align-self: center;
  margin: var(--GH-margin-);
  overflow-y: scroll;
  overflow-x: wrap;
}


.section-tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: var(--GH-gap-m);
}

#game-hub-tab{
  border-top: none;
  border-left: none;
}
#legend-tab{
  border-top: none;
  border-left: none;
  border-right: none;
}


ul {
  display: flex;
  flex-direction: column;
  gap: var(--GH-gap-s);
  margin: var(--GH-margin-l);
}

li {
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: column;
}

#input-main {
  width: 50svw;
  margin: var(--GH-margin-l);
  background-color: var(--GH-light_grey);
  border: 1px solid var(--GH-yellow);
  color: var(--GH-coral);
  padding: var(--GH-gap-m);
}

#app {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--GH-dark_grey);
}

#conversation-container {
  background-color: var(--GH-light_grey);
}

.section-tab {
  border: 0.25px solid var(--GH-yellow);
  margin: 0;
  padding: 0;
  min-height: 6svh;
  max-height: 6svh;
  padding: var(--GH-gap-l);
}

#legend{
  border: 1px solid var(--GH-yellow);
  flex: 1;
border-top: none;
border-right: none;
border-bottom: none;
}

.command-input {
  color: var(--GH-yellow);
}

#legend-content {
  padding: var(--GH-gap-m);
}

.games-hub-input {
  color: var(--GH-yellow);
}
.user-input {
  color: var(--GH-coral);
}

.blue {
  color: var(--GH-cyan);
}